.grid {
  display: grid;
  margin-bottom: 2em;
  justify-content: center;
  grid-template-columns: repeat(4, 20%);
}

@media (max-width: 1180px) {
  .grid {
    width: 100%;
    grid-template-columns: repeat(2, 45%);
  }
}

@media (max-width: 610px) {
  .grid {
    width: 100%;
    grid-template-columns: 80%;
  }
}
