.App {
  text-align: center;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.hero {
  background-color: #fff;
  color: black;
  height: 90vh;
  padding: 0 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero img {
  height: 40%;
}

@media(max-width:935px) {
  .hero {
    padding: 1em 6em;
  }
}

@media(max-width:670px) {
  .hero {
    padding: 1em 4em;
  }
}

@media(max-width:565px) {
  .hero {
    padding: 1em 3em;
  }
}

@media(max-width:425px) {
  .hero {
    padding: 1em 3em;
  }
}

@media(max-width:375px) {
  .hero {
    padding: 1em 2em;
  }
}

.title,
.subtitle,
.socialmedia,
.titleSection,
.description {
  text-align: center;
}

.title {
  font-weight: 700;
  margin: 0;
  font-size: 4.5rem;
}

.subtitle {
  line-height: 1.5;
  font-size: 1.8rem;
}

@media(max-width:860px) {
  .title {
    font-size: 3.5em;
  }
}

@media(max-width:565px) {
  .title {
    font-size: 3em;
  }
}

@media(max-width:500px) {
  .title {
    font-size: 2.8em;
  }
}

@media(max-width:860px) {
  .subtitle {
    font-size: 1.3em;
  }
}

@media(max-width:565px) {
  .subtitle {
    font-size: 1.2em;
  }
}

@media(max-width:500px) {
  .subtitle {
    font-size: 1.2em;
  }
}

.section {
  padding: 2em 9em;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

@media(max-width:1300px) {
  .section {
    padding: 2em 5em;
  }
}

@media(max-width:750px) {
  .section {
    padding: 2em 3em;
  }
}

@media(max-width:560px) {
  .section {
    font-size: 1rem;
    padding: 1em 2.5em;
  }
}

@media(max-width:485px) {
  .section {
    font-size: 0.9rem;
  }
}
.description {
  flex-direction: column;
  padding: 1em 12em 1.5em 12em;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.3;
}

.description h4 {
  padding-bottom: 1em;
}

.description img {
  max-width: 100%;
  max-height: 100%;
  height:auto;
  padding-bottom: 1em;
}

@media(max-width:1220px) {
  .description {
  padding: 0 5em;
  }
}

@media(max-width:700px) {
  .description {
  padding: 0 5em;
  font-size: 1.1rem;
  }
}

@media(max-width:625px) {
  .description {
  padding: 0 3em;
  font-size: 1rem;
  }
}

@media(max-width:425px) {
  .description {
  padding: 0 2.5em;
  font-size: .9rem;
  }
}


.colSection {
  line-height: 1.5;
  column-gap: 3em;
  align-items: center;
}

@media(max-width:1100px) {
  .colSection {
    column-gap: 3em;
    flex-direction: column;
  }
}

.section2 {
  flex-direction: column;
}

.titleSection {
  margin: 0;
  font-size: 1.5rem;
  padding: 1em;
}

@media(max-width:560px) {
  .titleSection {
    font-size: 1.1rem;
    padding: 0.6em;
  }
}

@media(max-width:485px) {
  .titleSection {
    font-size: 1rem;
    padding: 1em 2.5em;
  }
}

img {
  max-width:100%;
  height:auto;
}

footer {
  font-weight: 600;
  font-size: large;
  border-top: 1px solid black;
  background-color: #fff;
  margin-bottom: 1em;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}